doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/404.css')
  body
    .error
      h1 felmeddelanden är jobbiga och intetsägande! Gå gärna tillbaka och försök igen!
      h1 Om problemet kvarstår, kontakta support@easytv.com.
      h2=message
    .btndiv  
      a(class='btn' href="http://localhost:3000") TA MIG TILLBAKA!
    .text
      p 404
    .container
      // caveman left
      .caveman
        .leg
          .foot
            .fingers
        .leg
          .foot
            .fingers
        .shape
          .circle
          .circle
        .head
          .eye
            .nose
          .mouth
        .arm-right
          .club
      // caveman right
      .caveman
        .leg
          .foot
            .fingers
        .leg
          .foot
            .fingers
        .shape
          .circle
          .circle
        .head
          .eye
            .nose
          .mouth
        .arm-right
          .club